<!DOCTYPE html>
<html lang="zh-Hant">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>棋類對局平台</title>
        <link rel="stylesheet" href="../styles/main.css">
        <link rel="stylesheet" href="../styles/navbar.css">
        <link rel="icon" href="../images/chess.png" type="image/x-icon">
    </head>
    <body>
        <!-- Todo 導覽列位置 -->
        <div id="nav"></div>
        <!-- Todo 選擇棋類 -->
        <div class="container" id="gameContainer"></div>
        
        <script src="../scripts/nav.js"></script>
        <script src="../scripts/card.js"></script>
    </body>
</html>