<!DOCTYPE html>
<html lang="zh-Hant">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>棋類對局平台</title>
        <link rel="stylesheet" href="/static/styles/main.css?v={{ time }}">
        <link rel="stylesheet" href="/static/styles/login.css?v={{ time }}">
        <link rel="icon" href="/static/images/tools/chess.png" type="image/x-icon">
    </head>
    <body>
        <form>
            <h3>Login Here</h3>
            <label for="username">Username</label>
            <input type="text" placeholder="username" id="username">
            <button>Log In</button>
        </form>
        <script src="/static/scripts/card.js?v={{ time }}"></script>
    </body>
</html>