<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>棋類對局平台</title>
    <link rel="stylesheet" href="/static/styles/ReplayBoard.css?v={{ time }}">
    <link rel="stylesheet" href="/static/styles/navbar.css?v={{ time }}">
    <link rel="stylesheet" href="/static/styles/main.css?v={{ time }}">
    <link rel="icon" href="/static/images/tools/chess.png" type="image/x-icon">
</head>
<body>
    <div id="body-container">
        <!-- Todo 導覽列位置 -->
        <div id="nav"></div>
        <input type="hidden" id="hiddenGID" value="{{ GID }}">
        <div id="game">
            <canvas id="board"></canvas>
            <div id="detail_container">
                <p id="testOutput">test</p>
                <div id="chat-box">
            </div>
        </div>
    </div>
    <script src="/static/scripts/nav.js?v={{ time }}"></script>
    <script src="/static/scripts/DrawBoard.js?v={{ time }}"></script>
    <script src="/static/scripts/Play/gomoku_utils.js?v={{ time }}"></script>
    <script src="/static/scripts/Play/playGame.js?v={{ time }}"></script>
</body>
</html>