<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>棋類對局平台</title>
    <link rel="stylesheet" href="/static/styles/ReplayBoard.css?v={{ time }}">
    <link rel="stylesheet" href="/static/styles/navbar.css?v={{ time }}">
    <link rel="icon" href="/static/images/chess.png" type="image/x-icon">
</head>
<body>
    <div id="body-container">
        <!-- Todo 導覽列位置 -->
        <div id="nav"></div>
        <input type="hidden" id="hiddenBID" value="{{ BID }}">
        <input type="hidden" id="hiddenGID" value="{{ GID }}">
        <input type="hidden" id="hiddenStatus" value="{{ status }}">
        <input type="hidden" id="hiddenP1" value="{{ player1 }}">
        <input type="hidden" id="hiddenP2" value="{{ player2 }}">
        <div id="game">
            <p id="testOutput">test</p>
            <canvas id="board"></canvas>
            <div class="button-container">
                <img src="/static/images/left-arrow.png" alt="left-arrow" id="left-arrow"/>
                <img src="/static/images/play.png" alt="play-button" id="auto_replay"/>
                <img src="/static/images/right-arrow.png" alt="right-arrow" id="right-arrow"/>
            </div>
            <div class="slide-container">
                <input type="range" id="progress-bar" min="0" max="100" value="0" step="1">
            </div>

            <div id="speed_selector_container">
                <select id="speed_selector">
                    <option value="0.25">0.25x</option>
                    <option value="0.5">0.5x</option>
                    <option value="1" selected>1x</option>
                    <option value="1.25">1.25x</option>
                    <option value="1.5">1.5x</option>
                    <option value="2">2x</option>
                </select>
            </div>
            <p id="current_speed">目前倍速: 1x</p>
        </div>
    </div>
    <script src="/static/scripts/DrawBoard.js?v={{ time }}"></script>
    <script src="/static/scripts/Replay.js?v={{ time }}"></script>
    <script src="/static/scripts/nav.js?v={{ time }}"></script>
</body>
</html>