<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>棋類對局平台</title>
    <link rel="stylesheet" href="/static/styles/main.css?v={{ time }}">
    <link rel="stylesheet" href="/static/styles/SelectRoom.css?v={{ time }}">
    <link rel="stylesheet" href="/static/styles/navbar.css?v={{ time }}">
    <link rel="icon" href="/static/images/tools/chess.png" type="image/x-icon">
</head>
<body>
    <div id="nav"></div>

    <div class="all-container">
        <div id="controls">
            <input type="text" id="room-id" placeholder="請輸入房間ID">
            <button onclick="createRoom(document.getElementById('room-id').value)">創建房間</button>
            <button onclick="search_room(document.getElementById('room-id').value)">搜尋房間並加入</button>
            <button onclick="toBotRoom()" id="tobotroom">與機器人對戰</button>
        </div>
        
        <div id="exist-room"></div>
    </div>

    <script src="/static/scripts/nav.js?v={{ time }}"></script>
    <script>
        // Pass the room_ids from Python to JavaScript
        const roomIds = {{ room_ids | tojson }};
        const GID = {{ GID | tojson }}
        exist_rooms = roomIds;
    </script>
    <script src="/static/scripts/selectRoom.js?v={{ time }}"></script>
</body>
</html>
