/* ------navbar--------  */
body
{
    font-family: 'Microsoft Yahi';
    box-sizing: border-box ;
    margin: 0;
    padding: 0;
    background-color: #26223a;
}

li,a,button
{
    font-weight: 100;
    font-size: 25px;
    color:#ffffff;
    text-decoration: none;
}

header
{
    display: flex;
    align-items:center;
    background-color: gray;
}

button
{
    margin: 0px 60px 0px 10px;
    padding: 10px 15px;
    background-color: rgb(2, 137, 58);
    border:none;
    border-radius: 20px;
    cursor:pointer;
    transition: all 0.3s ease 0s;
    
}

button:hover
{
    background-color:rgb(7, 131, 158)
}
.logo
{
    position: static;
    padding: 0;
    background-color:transparent;
    margin: 0px 20px 0px 100px;
    
}

.player_state
{
    font-weight: 500;
    font-size: 25px;
    color: white;
    margin: 0px 0px 0px 200px;
    background: none;
}
.web_name
{
    font-size: 35px;
    color: white;
    margin: 0px 300px 0px 0px;
}
.nav_links
{
    list-style: none;
    
}
.nav_links li
{
    display:inline-block;
    margin: 0px 30px 0px 0px;
    font-size: 30px;
}
.nav_links li a
{
    /* 轉場 */
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover
{
    cursor: pointer;
}
