#game {
    /* border: 2px wheat solid; */

    display: flex;
    justify-self: center;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    border-radius: 50px;
}


body
{
    color: wheat;
    font-family: 'DFKai-SB';
    box-sizing: border-box ;
    margin: 0;
    padding: 0;
    background-color: #26223a;
}

.button-container {
    display: flex; /* 使用 flex 布局讓圖標保持在同一行 */
    justify-content: center; /* 圖標水平居中 */
    margin-top: 25px; /* 與棋盤的間距 */
}

.button-container img {
    width: 50px; /* 設置圖片寬度 */
    cursor: pointer; /* 鼠標移到圖片上時變為手型 */
    margin: 0px 25px 0px 25px; /* 調整左右圖片的間距 */
    border: white 2px solid;
    border-radius: 30px;
    background-color: wheat;
}


#board {
    background: radial-gradient(ellipse at center, rgba(255,175,75,1) 0%,rgba(255,146,10,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /* margin: 25px; */
}