body {
  font-family: Arial, sans-serif;
}

#select_board_container {
  margin-top: 2%;
  background-color: #83b5aa; /* 主容器背景 */
  border-radius: 30px; /* 圓角縮小，視覺更緊湊 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 添加陰影 */
  padding: 20px; /* 增加內部填充 */
}

h2 {
  margin: 0; /* 去掉默認外邊距，讓標題更貼合容器 */
  text-align: center;
  color: #ffffff;
  background-color: #039a79; /* 與容器背景形成協調的對比 */
  border-radius: 30px; /* 與外層容器統一的圓角設計 */
  padding: 15px; /* 增加內部間距 */
  font-size: 1.5rem; /* 增大字體 */
  box-shadow: inset 0 -3px 5px rgba(0, 0, 0, 0.1); /* 內部陰影增強層次 */
}

#boardGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 20px;
}

/* CSS */
.board-item {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.board-item:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.board-item, .board-item:focus {
  user-select: auto;
}

.board-item:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.board-item:disabled {
  cursor: auto;
}

.board-item:active {
  border-width: 4px 0 0;
  background: none;
}